$border-color-hover: #666;
$border-color: #f0f0f0;
$border-color-dark: #ccc;
$border-radius: 4px;
$button-active-bg: #eee;
$button-bg: white;
$button-height: 32px;
$color: #333;
$font-size: 14px;
$height: 32px;
$input-border-color-hover: #bbb;
$input-border-color: #e6e6e6;
$input-box-shadow-error: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 5px #eda4a2;
$input-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 5px rgba(59, 180, 242, .3);
$tabs-active-text: blue;
$tabs-disabled-text: grey;
$toast-animation-delay: 300ms;
$toast-bg: rgba(0, 0, 0, 0.75);
$toast-color: #fff;
$toast-min-height: 40px;
@keyframes loading {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}
@mixin loading {
  animation: loading 1s infinite linear;
}
%box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}